* {
  margin: 0;
  padding: 0;
}

#box-wide {
  position: relative;
	background-color: #ed5565;
  min-height: 500px;
  width: 100%;
  overflow: hidden;
}

#input-content {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

#explain {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#barrage {
  height: 20px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  left:-20%;
}

@-webkit-keyframes tran {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
   }

  50% {
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
          }

  100% {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
          } 
  }

  #barrage {
  -webkit-animation: tran 5s linear; 
  animation: tran 5s linear;
  }